#include "/home/jd/.colours/new"

Xft*dpi: 96
Xft*antialias: 1
Xft*hinting: 1
Xft*hintstyle: hintfull
Xft*rgba: rgb
Xft.autohint: 0
Xft.lcdfilter: lcddefault

*font: -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-1

!-- URXVT --!
urxvt.termName: rxvt
urxvt.scrollBar: false
urxvt.iso14755: false
urxvt.iso14755_52: false

!urxvt.transparent: true
!urxvt.shading:10

!urxvt.font: xft:Terminus:pixelsize=14

!-- XTERM --!
xterm*metaSendsEscape: true
xterm*eightBitInput: false
xterm*utf8: 2
xterm*locale: 1
xterm*borderWidth: 0
!xterm*font: 
-xos4-terminus-medium-*-normal-*-14-*-*-*-*-*-iso10646-1
xterm*font: -*-termsyn.icons-medium-r-*-*-12-*-*-*-*-*-*-*
! xterm*faceName: Terminus:pixelsize=14
!xterm*faceName: Ubuntu Mono:pixelsize=15
!xterm*faceName: Liberation Mono:pixelsize=14
